//- this is been created to create the common layout which can be used in another pug file
//- to use the same in another pug file, simple use 'extends <this file path>'
//- block is used to give dynamic content
//- can simply give block space any name to add a placeholder for dynamic content there and give that name in main view pug file to render content 
//- also, pageTitle ia a dynamic field here which needs to be added as a paramter to js file where rendering the view
//- also note that the class attribute value has been given dynamic here which is on the basis of path paramter passed as a parmater while rendering the view

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body   
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href="/", class=(path === 'shop' ? 'active' : '')) Shop
                    li.main-header__item
                        a(href="/admin/add-product", class=(path === 'addProduct' ? 'active' : '')) Add Product
        block content